body,
html,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
